[Unit]
Description=Mortris weekly differential database backup

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
